.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 3rem;
}

.services__container .services__heading {
  font-size: 1.75rem;
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
  text-align: center;
  color: var(--brown);
  padding-bottom: 2rem;
}

.services .service {
  background-color: var(--yellow);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.35rem;
  -webkit-box-shadow: 1px -11px 57px -12px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px -11px 57px -12px rgba(255, 255, 255, 1);
  box-shadow: 1px -11px 57px -12px rgba(255, 255, 255, 1);
}

.services .service span {
  font-weight: 600;
  font-size: 1.2rem;
}

.services .service p {
  color: #614311;
}
